SQL_SERVER_CONN=DRIVER={ODBC Driver 18 for SQL Server};SERVER=<host>,<port>;DATABASE=<database>;UID=<username>;PWD=<password>;Encrypt=no;TrustServerCertificate=yes;
PORT=3001
FRONTEND_URL=http://localhost:5173
